<div class="h-dvh flex flex-col overflow-hidden">
    <p class="m-3 shrink-0">Hello</p>
    <div class="flex-1 min-h-0">
        <.live_component module={KleosWeb.WindowView} id="window" />
    </div>
</div>